
{{#partial "content"}}

<div class="container-fluid">
    <div class="main-pg">
            <br />
            <hr class="text-danger" />
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-md-12 page">
                        <br />
                        <h1 class="text-center text-danger">Create a Hero</h1>
                        <div class="row">
                            
                            <div class="col-md-8">
                                <img src="/images/Batman&Robbin.png" alt="" width="350" height="400" />
                            </div>

                            <div class="col-md-4 btns">
                                <a href="/Hero-form">
                                <button class="btn btn-warning">Create Hero</button>
                                </a> <br />
                                <br/>
                                <a href="/Squad-form">
                                <button class="btn btn-warning">Create a Squad</button>
                                </a> <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

{{/partial}}



{{> layout.hbs}}
