{{#partial "content"}}

<div class="container-flui">
    <div class="main-pg">
        <br> <br>
        <div class="fig-img container">
            <div class="row">
                <div class="col-md-6">
                    <div class="dig-box mb-3">
                        <h1 class="title text-center text-danger">
                            Villain or SuperHeroe
                        </h1>
                        <p class="text-center text-white">
                            From the skies above Metropolis to the four corners of the globe to the <br>
                            star-streaked spaceways beyond, one man is synonymous with the world <br>
                            <strong>"hero"</strong>. Since his arrival marked the dawn of the SuperHeroe age. Superman
                            <br>
                            has waged a never-ending battle for truth and justice, no matter when or where. - <span
                                class="text-primary">Clark Kent</span>
                        </p>
                        <p class="text-center text-white">
                            "There's no throne, there is no version of this, where you come out on top. <br>
                            Maybe your army comes and maybe it's too much for us, but it's all on you. <br>
                            Because if we can't protect the Earth, you can be damned well sure we'll avenge it." - <span
                                class="text-primary">Tony Stark</span>
                        </p>
                        <p class="text-white text-white">
                            "I choose to run towards my problems, and not away from them. <br>
                            Because that's what heroes do". <span class="text-primary">Thor, Thor: Ragnarok</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-2">
                        <img class="card-img-top" src="./images/hulk-smash.jpg" alt="HUlk-Smash" height="310"
                            width="" />
                        <div class="card-body">
                            <h5 class="card-title text-center text-success">
                                Hulk Smash!
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-2">
                        <img class="card-img-top" src="./images/captain.jpg" alt="Captain-America" height="310" />
                        <div class="card-body">
                            <h5 class="card-title text-center text-primary">
                                Captain America
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"> <br> <br>
                    <h1 class="super text-success">Hero Squad 2.0 ==></h1>
                </div>
                <div class="col-md-6 submit">
                    <h1 class="text-danger text-center super">Join Our League</h1>
                    <h3 class="text-white">
                        <strong>Choose to Create or Join:-</strong>
                    </h3>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/Hero-form">
                                <button class="btn btn-primary">Register as a Hero</button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/Squad-form">
                                <button class="btn btn-primary">Register a League</button>
                            </a>
                        </div>
                    </div> <br>
                </div>
            </div>
        </div>
    </div>
</div>

{{/partial}}



{{> layout.hbs}}