{{#partial "content"}}

<div class="container-fluid sub">
        <div class="container success">
        <h3 class="text-danger">Hero Creation was a Success <br> Hero <span>{{ item }} </span> Has been created. <br></h3>

        <a class="btn btn-primary" href="/Hero">View Heroes</a>
        <a class="btn btn-primary" href="/Squad">View Squads</a>
    </div>
</div>

{{/partial}}
{{> layout.hbs}}